/* tailwind link */
@import 'tailwindcss';

html,
body {
  background-color: #0d1117;
  font-family: 'Space Grotesk', serif;
}

.createnow {
  background-image: radial-gradient(rgba(0, 0, 0, 0.7) 7%, rgba(0, 0, 0, 0.9) 7%), url('../src/assets/footer.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
